@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">);

:root {

    --clr-primaria: #7991E5;
    --clr-secundaria: #C9ECF4;
    --clr-shadow: #D9D9D9;
    --clr-click: #FBF7F7;
    --clr-itens: #FCFBFC;

    --card-border-radius: 20px;
    --border-radius-1: ;
    --border-radius-2: ;

    --card-padding: 1.0rem;
    --box-shadow: 0.2rem 3rem var(--clr-shadow);

}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
}

body {
  font-family: "Poppin", "sans-serif";
  background-color: #F8F8FF;
  width: 100vw;
  height: 100vh;
  font-size: 0.8rem;
  user-select: none;
  overflow-x: hidden;

} 
.container{
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 12rem;
    margin: 0 auto;

}
a{
    color: var(--clr-itens);
}
h1{
    font-weight: 800;
    font-size: 1.8rem;

}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.8rem;
}
h4{
    font-size: 0.4rem;
}
.perfil{
    width: 30px;
    height: 30px;
    border-radius:50%;
    overflow: hidden;
}
.texto-clicado{
    color:var(--clr-click);
}
.p {
    color: var(--clr-secundaria);
}
/* aside */

aside {
    height: 100vh
}

aside .top{
    background-color: var(--clr-primaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}
aside .logo{
    display:flec;
    gap: 3rem;
}
aside .top div .close{
    display: none;
}
img .icons{
    width:30px;
    height:30px;
}