@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {

    --clr-primaria: #7991E5;
    --clr-secundaria: #C9ECF4;
    --clr-shadow: #D9D9D9;
    --clr-click: #FBF7F7;
    --clr-itens: #FCFBFC;

    --card-border-radius: 20px;
    --border-radius-1: ;
    --border-radius-2: ;

    --card-padding: 1.0rem;
    --box-shadow: 0.2rem 3rem var(--clr-shadow);



* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none; 
  appearance: none;
}

body {
  font-family: "Poppin", "sans-serif";
  background-color: #F8F8FF;
  width: 100vw;
  height: 100vh;
  font-size: 0.8rem;
  user-select: none;
  overflow-x: hidden;

} 
.container{
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 12rem;
    margin: 0 auto;

}
a{
    color: var(--clr-itens);
    position: relative;
    font-size: 18px;
    display: table;
    width: 300px;
    padding:10px;
    
}
a .item{
   position: relative;
   top:12px;
   margin-left: 10px;

}
a:hover{
    background: var(--clr-secundaria);
    color: #000000;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;

}
h2{
    font-size: 1.4rem;
    align-items: left;
}
h3{
    font-size: 0.8rem;
}
h4{
    font-size: 0.4rem;
}
.perfil{
    width: 30px;
    height: 30px;
    border-radius:50%;
    overflow: hidden;
}
.texto-clicado{
    color: var(--clr-click);
}
.p {
    color: var(--clr-secundaria);
}
/* aside */

aside {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
aside:hover{
    width: 280px;
    transition: all 0.5s ease;
}
aside .logo{
    display:flex;
    justify-content: center; 
    text-align: center;
    transition: all 0.5s ease;
}
aside .top div .close{
    display: none;
}
img {
    width:30px;
    height:30px;

}
.icons{
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: inline;
}
aside .menu-navegacao {
    background: var(--clr-primaria);
    left:0;
    bottom: 0;
    flex-direction: column;
    height: 100%;
    width:90px;
    position: absolute;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20 px 35px ;
    top: 0;
    gap: 10px;
    line-height: 40px;
    cursor: pointer;
}
aside .h3{
    font-weight: 500;
}
.menu-navegacao.active ~ .top {
    left:250px;
    width: calc(100% - 250px);

} 
.menu-navegacao.active {
    width:250px;
}
}